html {
	background-color: whitesmoke;
}

.navigation {
	background-color: black !important;
	width: 100%;
	margin: 0px;
	margin-top: 0px;
	padding-top: 0px;
}
.navigation-small {
	background-color: black !important;
	width: 100%;
	margin: 0px;
	margin-top: 0px;
	padding-top: 0px;
}
.btn-nav-login {
	background:white !important;
	color:black;
	text-decoration-style: solid;
	border-radius: 50px;
	margin-right: 10px;
}
.btn-nav-login-1 {
	background:red !important;
	color:white;
	text-decoration-style: solid;
	border-radius: 50px;
	margin-bottom: 10px;
}
.btn-nav-register {
	background:green !important;
	color: white;
	text-decoration-style: solid;
	border-radius: 50px;
	margin-right: 10px;
}
.btn-nav-register-1 {
	background:black !important;
	color: white;
	text-decoration-style: solid;
	border-radius: 50px;
	margin-right: 10px;
}

.nav-link>a:hover{
	color: white;
}
.nav-link{
	color:white
}
.nav-link>a:link {
	text-decoration: none;
}
.drop-nav{
	background-color:whitesmoke;
}

.btn-bg-none {
	background: none !important;
	color: white;
}
.content {
	max-width: 1100px;
	margin: auto;
}
.top-p-image {
	border-radius: 20px;
	padding: 5px;
}

.uk-fixed-navigation {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	z-index: 1030;
}
.my-card-title {
	margin: -20px;
}
.my-card-text {
	margin-bottom: -20px;
}
.my-card-text-blog {
	font-size: 0.8em;
}
.my-card {
	border-radius: 20px;
	
}

.my-card-blog {
	border-radius: 0px 20px 20px 0px;
}
.city {
	background: whitesmoke;
	padding-bottom: 50px;
}
.city-text-s {
	font-size: 1.5em;
	
}
.top-p-image{
	height: 30vh;
	width: 100vw
}

.my-footer {
	background-color:rgb(31, 29, 29);

}
.my-footer-text {
	color: white;
	font-size: 0.9em;
}
.my-footer-content {
	color: #87ceeb;
	padding-top: 70px;
}
a:link {
	text-decoration: none;
}
a {
	color: white;
}
.remove-highlight {
	outline: none;
	cursor: pointer;
}
.line{
	color: whitesmoke;
}
.content{
	max-width: 700px;
	margin:auto
}
.content1 {
	max-width: 500px;
	margin: auto;
}
.content2 {
	max-width: 700px;
	margin: auto;
}
.my-card-login{
	margin-top: 20%;
}

@media (max-width: 740px) {
	.my-slide {
		padding-top: none;
	}
	.my-card-login{
		margin-top: 5%;
	}
	
	.my-footer-content {
		color: #87ceeb;
		padding-top: 1px;
	}
}
/* =====get alert style === */

.content-property-alert{
	max-width: 1000px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px
}